
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/avatar.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Boobooblublu</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" style=" height: auto; overflow: hidden; width: auto; padding-bottom: 20%;">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span>Master</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Category")">
                            <i class="fa fa-bar-chart"></i><span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Table")">
                            <i class="fa fa-bell-o"></i><span>Table</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Product")">
                            <i class="fa fa-book"></i><span>Product</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-compass"></i><span>Department</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Menu 3</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i><span>Menu 3.1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i><span>Menu 3.2</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Employee")">
                            <i class="fa fa-book"></i><span>Employee</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>